body {
    background-color: #f7f7f7 !important;
}

body > div, body > div > div, body > div > div > div.appContainer {
    height: 100%;
}

.startBtn {
    margin-top: 14px !important;
}

.gameTitle {
    font-size: 3em !important;
}

.logList {
    text-align: left;
    height: 32em;
}

.pusher {
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.pusher > .footer {
    flex: 1;
}
